ENV{DMI_VENDOR}="$attr{[dmi/id]sys_vendor}"
ENV{DMI_VENDOR}!="GIGABYTE", GOTO="gigabyted_end"

ENV{DMI_FAMILY}="$attr{[dmi/id]product_family}"
ENV{DMI_FAMILY}=="AERO", GOTO="gigabyted_start"
ENV{DMI_FAMILY}=="AORUS", GOTO="gigabyted_start"
# No match
GOTO="gigabyted_end"

LABEL="gigabyted_start"
KERNEL=="aorus_laptop", RUN+="/bin/sh -c 'chown -R :gigabyte-wmi /sys/devices/platform/aorus_laptop/*'"
KERNEL=="aorus_laptop", RUN+="/bin/sh -c 'chmod -R g+rw /sys/devices/platform/aorus_laptop/*'"
ACTION=="add|change", DRIVER=="aorus_laptop", TAG+="systemd", ENV{SYSTEMD_WANTS}="gigabyted.service"
ACTION=="add|remove", DRIVER=="aorus_laptop", TAG+="systemd", RUN+="systemctl restart gigabyted.service"

LABEL="gigabyted_end"
